body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #fff;
  color: #333;
}

.founder-section {
  display: flex;
  height: 100vh;
  width: 100%;
}

.founder-image {
  width: 50%;
  background: url("Cb-founder.jpg") no-repeat center center;
  background-size: cover;
  border-radius:50%;
}

.founder-text {
  width: 50%;
  padding: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fff;
}

.founder-text h1 {
  font-size: 3rem;
  color: #000;
  margin-bottom: 0.5rem;
}

.founder-text h2 {
  font-size: 1.5rem;
  color: #663399;
  margin-bottom: 1.5rem;
}

.founder-text p {
  font-size: 1.1rem;
  line-height: 1.6;
  margin-bottom: 1.2rem;
  color: #444;
}

@media screen and (max-width: 768px) {
  .founder-section {
    flex-direction: column;
  }

  .founder-image,
  .founder-text {
    width: 100%;
  }
  
  .founder-image {
	  min-height:800px;
	  height:300px;
	  margin: 0 auto;
	  aspect-ratio: 1 / 1;
	  border-radius:0;
  }

  .founder-text {
    padding: 2rem;
  }
}
