body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #fff;
  color: #333;
}

.founder-section {
  display: flex;
  height: 100vh;
  width: 100%;
}

.founder-image {
  width: 50%;
  border-radius:50%;
}

.founder-text {
  width: 50%;
  padding: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fff;
}

.founder-text h1 {
  font-size: 3rem;
  color: #000;
  margin-bottom: 0.5rem;
}

.founder-text h2 {
  font-size: 1.5rem;
  color: #663399;
  margin-bottom: 1.5rem;
}

.founder-text p {
  font-size: 1.1rem;
  line-height: 1.6;
  margin-bottom: 1.2rem;
  color: #444;
}

@media screen and (max-width: 768px) {
  .founder-section {
    flex-direction: column;
  }

  .founder-image,
  .founder-text {
    width: 80%;
  }
  
  img{
	  align-items:center;
	  display:flex;
	  justify-content:center;
  }
  
  .founder-image {
	  display:flex;
	  height:auto;
	  width:auto;
	  border-radius:50%;
	  justify-content:center;
	  align-items:center;
	  height:100vh;
  }

  .founder-text {
    padding: 2rem;
  }
}
